<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="recorder" class="methodreplacement.Recorder">
        <lookup-method name="generateVoice" bean="voice"/>

        <replaced-method name="recordOnCassette" replacer="tapeRecorder"/>
        <replaced-method name="recordOnCylinder" replacer="phonograph"/>
    </bean>

    <bean id="phonograph" class="methodreplacement.Phonograph"></bean>
    <bean id="tapeRecorder" class="methodreplacement.TapeRecorder"></bean>

    <bean id="voice" class="methodreplacement.Voice" scope="prototype"/>
</beans>